/* body {
font-family: Arial;
text-align: center;
background: #f4f4f4;
}
header {
background: #222;
color: white;
padding: 20px;
}
form {
background: white;
width: 300px;
margin: auto;
padding: 20px;
}
label {
display: block;
margin-top: 10px;
}
input, select {
width: 100%;
padding: 5px;
}
.btn {
background: green;
color: white;
padding: 10px;
text-decoration: none;
margin-top: 10px;
display: inline-block;
}
.cancel {
background: red;
} */
 body {
font-family: Arial;
text-align: center;
background: #f4f4f4;
}
header {
background: #222;
color: white;
padding: 20px;
}
form {
background: white;
width: 350px;
margin: auto;
padding: 20px;
}
label {
display: block;
margin-top: 10px;
}
input, select {
width: 100%;
padding: 5px;
margin-top: 5px;
}
fieldset {
border: 1px solid #ccc;
margin-top: 10px;
padding: 10px;
}
legend {
font-weight: bold;
}
.btn {
background: green;
color: white;
padding: 10px;
text-decoration: none;
margin-top: 10px;
display: inline-block;
}
.cancel {
background: red;
}